<div class="container-fluid">
    <div class="row">
        <div class="col p-0">
        <img class="img-fluid" id="banniere"  src="https://via.placeholder.com/1920x300.png?text=Fait+avec+Bootskrap" alt="">
        </div>
    </div>
</div>